

  <div class="article-info"> 

    <div class="article-info-inner">
      <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>
      {% assign published_at = article.published_at | date: format: 'month_date_year' %}
      <p class="posted">{{ 'blogs.article.posted_on_date_html' | t: date: published_at }}</p>

      <div class="article-content">
        {% if article.excerpt == blank %}
        {{ article.content | strip_html | truncatewords: 50 }}
        {% else %}
        {{ article.excerpt }}
        {% endif %}
      </div>

      <div class="readmore">
        <a href="{{ article.url }}">{{ 'blogs.article.read_more' | t }}</a>
      </div>

    </div>

  </div>



