<a class="show mobile-3" href="#"></a>
<div class="desktop-2 tablet-1 mobile-3">
  <div id="collection-sidebar">

    {% if collection.image %}
    {{ collection.image.src | collection_img_url: 'compact' | img_tag: collection_title }}
    {% endif %}   


    {% if settings.collection_links_1 %}
    <ul>
      <label>{{ settings.collection_linklist_1_title }}</label>
      {% for link in linklists[settings.collection_side_1].links %}
      <li>{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>

    {% if settings.collection_side_1 == '' %}
    <ul>
      {% for collection in collections %}
      <li>{{ collection.title | link_to: collection.url }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% endif %}


    {% if settings.collection_links_2 %}
    <ul>
      <label>{{ settings.collection_linklist_2_title }}</label>
      {% for link in linklists[settings.collection_side_2].links %}
      <li>{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>


    {% endif %}

    {% if settings.collection_links_3 %}
    <ul>
      <label>{{ settings.collection_linklist_3_title }}</label>
      {% for link in linklists[settings.collection_side_3].links %}
      <li>{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if settings.collection_links_4 %}
    <ul>
      <label>{{ settings.collection_linklist_4_title }}</label>
      {% for link in linklists[settings.collection_side_4].links %}
      <li>{{ link.title | link_to: link.url }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    {% if settings.shop_by_designer %}
    {% if collection.handle == "all" %}
    <ul>
      <label>{{ settings.shop_by_designer_title }}</label>
      {% for product_vendor in shop.vendors %}
      <li>{{ product_vendor | link_to_vendor  }}</li>
      {% endfor %}
    </ul>

    {% else %}

    <ul>
      <label>{{ settings.shop_by_designer_title }}</label>
      {% for product_vendor in collection.all_vendors %}
      <li class="{{ product_vendor | handelize }}">{{ product_vendor | link_to_vendor }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endif %}  
  </div>

</div>


